.room-details-main-content
  display grid
  grid-template-columns 280rem 360rem 380rem
  grid-column-gap 70rem
  justify-items center
  max-width 1160rem
  margin-left auto
  margin-right auto
  margin-top 70rem
