include ../../../../node_modules/bemto.pug/bemto
include ../../../blocks/page-header/page-header
include ../../../blocks/page-footer/page-footer
-
  const headerMenu = [
    { name: "О нас", href: "mock.html" },
    { name: "Услуги",
      dropdown: [
        { name: "Раз", href: "mock.html" },
        { name: "Два", href: "mock.html" },
      ]
    },
    { name: "Вакансии", href: "mock.html" },
    { name: "Новости", href: "mock.html" },
    { name: "Соглашения",
      dropdown: [
        { name: "Раз", href: "mock.html" },
        { name: "Два", href: "mock.html" },
      ]
    },
  ];
  const auth = {
    isLoggedIn: false,
    name: "Cosmin Negoita",
    login: { name: "войти", href: "sign-in.html" },
    register: { name: "зарегистрироваться", href: "registration.html" },
  }
  const footerMenu = [
    {
    title: "Навигация",
      list: [
        { name: "О нас", href: "mock.html" },
        { name: "Новости", href: "mock.html" },
        { name: "Служба поддержки", href: "mock.html" },
        { name: "Услуги", href: "mock.html" },
      ]
    },
    {
    title: "О нас",
    list: [
      { name: "О сервисе", href: "mock.html" },
      { name: "Наша команда", href: "mock.html" },
      { name: "Вакансии", href: "mock.html" },
      { name: "Инвесторы", href: "mock.html" }]
    },
    {
      title: "Служба поддержки",
      list: [
        { name: "Соглашения ", href: "mock.html" },
        { name: "Сообщества", href: "mock.html" },
        { name: "Связь с нами", href: "mock.html" }
      ]
    }
  ];

doctype html
html
  head
    meta(charset = "utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="FSD 2nd task")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
    title
      block title
  body
    +b.page-wrapper
      +page-header({menu: headerMenu, auth})
      block main
      +page-footer({
        menu: footerMenu,
        subscription: {
          title: "Подписка",
          placeholder: "Email",
          description: "Получайте специальные предложения и новости сервиса",
        },
        socials: [
          {
            logoSrc: "../../blocks/page-footer/images/twitter.svg",
            logoAlt: "twitter",
            href: "mock.html",
          },
          {
            logoSrc: "../../blocks/page-footer/images/facebook.svg",
            logoAlt: "facebook",
            href: "mock.html",
          },
          {
            logoSrc: "../../blocks/page-footer/images/instagram.svg",
            logoAlt: "instagram",
            href: "mock.html",
          },
        ],
        copyright: "Copyright © 2018 Toxin отель. Все права зачищены.",
      })
