include ../text-field/text-field
include ../footer-menu/footer-menu

mixin page-footer(params)
	-
		if (params === undefined) params = {};
		const {
			description = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды».",
			menu,
			subscription = {
				title: "Подписка",
				description: "Получайте специальные предложения и новости сервиса",
				placeholder: "Email"
			},
		copyright = "Copyright © 2018 Toxin отель. Все права зачищены.",
		} = params;

	+b("footer").page-footer&attributes(attributes)
		+e.top
			+e.logo
				+logo
				+e.logo-description= description
			+e.menu
				+footer-menu(menu)
			+e.subscription
				+e("h3").subscription-title= subscription.title
				+e.subscription-description= subscription.description
				+e.subscription-text-field
					+text-field({name: "Email", type: "email", placeholder: subscription.placeholder, hasSubmitBtn: true})

		+e.bottom
			+e("p").copyright= copyright
			+e.socials
				+e("a")(href="mock.html").social-link
					img(src="../../blocks/page-footer/images/facebook.svg")
				+e("a")(href="mock.html").social-link
					img(src="../../blocks/page-footer/images/twitter.svg")
				+e("a")(href="mock.html").social-link
					img(src="../../blocks/page-footer/images/instagram.svg")
