.sign-in-main
  display flex
  justify-content center
  align-items center
  height 684rem
  background-image url("../../resources/register-bg.png")
  background-size cover
  background-position bottom
