include ../../blocks/logo/logo
include ../../blocks/nav/nav

mixin page-header(params)
  - if (params === undefined) params = {};

  +b("header").page-header&attributes(attributes)
    +e.logo
      +logo
    +e.nav
      +e("input").menu-toggle(type = "checkbox" id = "page-header-menu-toggle")
      +e("label").menu-toggle-view(for = "page-header-menu-toggle")
      +e.nav-wrapper
        +nav(params)
