mixin dropdown-control(params)
  - const { title = "", placeholder = "", name = "", value = "",
  - wordForms = [], positions = [], isMenuVisible = false, areButtonsVisible = true } = params;
  - const menuMode =  (isMenuVisible) ? "" : "dropdown-control__menu_hidden";

  +b.dropdown-control.js-dropdown-control&attributes(attributes)
    +e("h3").title= title
    +e.wrapper
      +e("input")(readonly).content.js-content(
        type = "text"
        placeholder = placeholder
        name = name
        value = value
        data-wordforms = wordForms
        autocomplete = "off"
      )
      +e.arrow.js-arrow
      +e.menu.js-menu(class = menuMode data-wordforms = wordForms)
        each pos in positions
          - const { title = "", value = 0, name = "", isShow = false, wordForms = [] } = pos
          +e.position.js-position
            +e.position-title.js-position-title= title
            +e.position-content
              +e.minus._inactive.js-minus -
              +e("input")(readonly).position-value.js-position-value(
                type = "text"
                value = value
                name = name
                data-is-show = isShow
                data-title = title
                data-wordforms = wordForms
              )
              +e.plus.js-plus +
        if (areButtonsVisible)
          +e.buttons.js-buttons
            +e.btn-clear.js-btn-clear Очистить
            +e.btn-apply.js-btn-apply Применить
