mixin image-slider(images, href)
	+b.image-slider
		+b('a')(href=href).image-wrapper
			-for (var i = images.length - 1; i >= 0; i--) {
				+e('img')(src = images[i]).item
				+e('div').circle
			-}
		+e.arrow-back
			+e.arrow-back-inner
		+e.arrow-forward
			+e.arrow-forward-inner
