@import '../../styles/*.styl'

.image-slider
  display block
  position relative
  user-select none
  box-sizing border-box

  &:hover
    .image-slider__arrow
      opacity 1

  &__container
    display block
    position relative
    box-sizing border-box

  &__image
    display block
    size(270rem, 151rem)
    transition $anim-duration
    box-sizing border-box
    overflow hidden

    &_hidden
      display none

  &__dots
    display flex
    position absolute
    bottom 15rem
    right 15rem
    z-index 4

  &__dot
    circle(7.5rem)
    border 1px solid $background-color
    z-index 1
    box-sizing border-box
    margin-left 3.5rem
    cursor pointer
    box-shadow 0 5rem 5rem rgba(31, 32, 65, 0.3)

    &_active
      background-color $background-color

  &__arrow
    display flex
    justify-content center
    align-items center
    position absolute
    size(44rem, calc(100% - 0rem))
    top 0
    cursor pointer
    transition $anim-duration
    z-index 3
    box-sizing border-box
    opacity 0
    background $slider-gradient

    &:after
      display block
      content ''
      size(11.5rem, 7.5rem)
      clip-path $arrow-down
      background-color $background-color
      transform rotate(90deg)

    &_back
      left 0

    &_forward
      right 0
      transform rotate(-180deg)
