mixin image-slider(params)
	- const { images, href } = params;
	+b.image-slider
		+e.container
			- for (let i = images.length - 1; i >= 0; i -= 1)
			+e("a")(href = href).image.hidden
				+e("img")(src = images[i])
