.btn-link
  display flex
  justify-content center
  align-items center
  background main-gradient
  transition 300ms

  &__inner
    border none
    font-size 12rem
    color background-color
    text-transform uppercase
    font-weight bold
    background main-gradient
    display flex
    justify-content center
    align-items center
    text-decoration none

  &:hover
    filter saturate(30%)

  &_login
    size(87rem, 34rem)
    border-radius 17rem

    .btn-link__inner
      background background-color
      size(83rem, 30rem)
      border-radius 15rem
      color button-color

  &_register
    size(196rem, 34rem)
    border-radius 17rem

    .btn-link__inner
      size(192rem, 30rem)
      border-radius 15rem
      color background-color

  &_marginLeft
    margin-left 20rem
