.button-submit
  size(320rem, 44rem)
  border-radius 22rem
  border none
  font-size 12rem
  color background-color
  text-transform uppercase
  font-weight bold
  background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  margin-top 31rem
  position relative

  &:hover
    filter brightness(92%)

  &::after
    display block
    position absolute
    content ''
    size(18rem)
    right 12rem
    top 13rem
    background-image url("../../resources/arrow_forward.svg")
    background-size contain
