.landing-main
  background-image url("../../resources/landing-page-bg 3.png")
  background-position bottom
  height 830rem
  position relative

  &__content
    position absolute
    bottom 22rem
    right 135rem
    size(297rem, 48rem)
    text-align right
    line-height 1.8
