.button
  display flex
  justify-content center
  align-items center
  background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  &__inner
    border none
    font-size 12rem
    color background-color
    text-transform uppercase
    font-weight bold
    background linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

.button_empty
  .button__inner
    color button-color
    background background-color

.button_marginLeft
  margin-left 20rem
