mixin button(btn)
	+b.button(
	style=
	"width:" + btn.width + btn.units + ";" +
	"height:" + btn.height + btn.units + ";" +
	"border-radius:" + btn.height / 2 + btn.units + ";")&attributes(attributes)
		+e('input').inner(
		type="submit"
		value=btn.value
		style=
		"width:" + (btn.width - 4) + btn.units + ";" +
		"height:" + (btn.height - 4) + btn.units + ";" +
		"border-radius:" + (btn.height - 4) / 2 + btn.units + ";")
