.room-cancel
  display block
  font-size 14rem
  line-height 24rem
  margin-top 8rem
  margin-left 10rem
  grid-row 3

  &__title
    grid-column 1
    grid-row 1
    font-size 19rem
    font-weight bold
    letter-spacing -0.25rem
    margin-bottom 18rem
