.room-price-table
  display grid
  row-gap 10rem
  grid-template-columns 220rem 20rem 80rem
  grid-auto-rows minmax(24rem, auto)
  margin-top 20rem
  min-width 320rem
  line-height 18rem

  &__name
    grid-column 1

  &__val
    grid-column 3

  &__val, &__total-val
    text-align right

  &__total, &__total-val
    font-size 19rem
    font-weight bold
    align-self end
    margin-top 25rem

  &__total
    grid-column 1

  &__total-val
    grid-column 3
    transform scaleX(0.85)
    transform-origin 100% 0

  &__i
    display flex
    justify-content center
    align-items center
    circle(20rem)
    border 1rem solid main-color-25
    font-weight bold
    color main-color-25
    grid-column 2
