mixin room-price-table
	+b.room-price-table
		+e.name 9 990₽ х 4 суток
		+e.val 39 960₽

		+e.name Сбор за услуги: скидка 2 179₽
		+e(title="Какая-то подсказка").i i
		+e.val 0₽

		+e.name Сбор за дополнительные услуги
		+e(title="Какая-то подсказка").i i
		+e.val 300₽

		+e.total Итого
		+e.total-val 38 081₽
