.sign-in
  flex 1 0 auto
  display flex
  justify-content center
  align-items center
  background-image url('images/register-bg.jpg')
  background-position-y -70rem
  background-size cover
  background-repeat no-repeat

  @media (max-width 1000px)
    background-position-y 0

  &__card
    padding 30rem

    @media (max-width 400px)
      width 330rem
      padding 30rem 0 25rem 0
