.filter-main
  display grid
  grid-template-columns 266.5rem 1fr
  grid-column-gap 59.5rem
  padding 10rem 20rem 0 20rem
  max-width 1160rem
  margin auto

  @media only screen and (max-width 700px)
    grid-template-columns 1fr
    grid-template-rows 35rem 1fr
