mixin email
	+b.email
		+e('form')(name = "subscribe-form" id = "subscribe-form" method = "GET" action="https://echo.htmlacademy.ru" enctype="text/plain").form
		+e('input')(type='e-mail' form='subscribe-form' name="email" placeholder="Email").input
		+e('button')(type='submit' form='subscribe-form').btn-submit
