.email
  display block
  margin-top 20rem
  position relative
  width 260rem

  &__input
    border 1px solid main-color-25
    border-radius 4rem
    size(260rem, 44rem)
    padding-left 15rem
    padding-right 45rem

  &__btn-submit
    position absolute
    size(44rem)
    top 0
    right 0
    background-color transparent
    border none

    &::after
      display block
      position absolute
      content ''
      size(17rem, 18rem)
      right 12rem
      top 13rem
      background-image url("../../resources/arrow_back.svg")
      transform rotate(180deg)

    &:hover
      cursor pointer
