mixin room-rules
	+b.room-rules
		+e.title Правила
		+b('ul').room-rules-content
			+e('li').item Нельзя с питомцами
			+e('li').item Без вечеринок и мероприятий
			+e('li').item Время прибытия — после 13:00, а выезд до 12:00
