.cards
  min-width 1440px
  max-width 1440px
  width 1440px
  margin 0 auto
  box-sizing border-box

  &__logo
    margin 30rem 0 72rem 30rem

  &__content
    min-width 1160px
    max-width 1160px
    height 1100rem
    max-height 1100rem
    margin 72rem auto auto auto
    display flex
    flex-direction column
    justify-items center
    align-items flex-start
    flex-wrap wrap
    justify-content flex-start
    align-content space-between
    box-sizing border-box

  &__search-card
    margin-bottom 37rem

  &__registration-card
    margin-bottom 0

  &__booking-card
    margin-bottom 40rem

  &__sign-in-card
    margin-bottom 0

  &__stay-selector
    margin-bottom 40rem

  &__room-cards
    margin-bottom 0

  &__room-card
    margin-bottom 40rem
