mixin room-gallery
	+b.room-gallery
		+e('img')(src = "../../resources/rooms_photos/1-00.png").item
		+e('img')(src = "../../resources/rooms_photos/1-01.png").item
		+e('img')(src = "../../resources/rooms_photos/1-02.png").item
