mixin room-gallery
	+b.room-gallery
		+e("img")(src = "../../blocks/room-gallery/images/1-00.png").item
		+e("img")(src = "../../blocks/room-gallery/images/1-01.png").item
		+e("img")(src = "../../blocks/room-gallery/images/1-02.png").item
