mixin room-gallery
  +b.room-gallery
    +e("img")(src = "../../blocks/room-gallery/images/1-00.jpg" alt="room-photo").item
    +e("img")(src = "../../blocks/room-gallery/images/1-01.jpg" alt="room-photo").item
    +e("img")(src = "../../blocks/room-gallery/images/1-02.jpg" alt="room-photo").item
