@import '../../styles/*.styl'

.colors-type
  max-width 1440rem
  min-width 1440rem
  width 1440rem
  margin 0 auto
  padding 0
  box-sizing border-box

  &__content
    display flex
    flex-direction row
    justify-content space-between
    justify-items center
    margin 66.5rem 187rem 0 150rem

  &__logo
    padding-top 30rem
    margin-left 30rem

  &__colors
    min-width 270rem
