include ../review/review

mixin guest-reviews
  +b.guest-reviews
    +e.title Отзывы посетителей номера
      +e("span").reviews-count 2 отзыва
    +e.review
      +review({
        logoLink: "../../blocks/guest-reviews/images/guest-1.png",
        name: "Мурад Сарафанов",
        like: {checked: true, value: 11},
        description: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
        date: "5 дней назад"
      })
    +e.review
      +review({
        logoLink: "../../blocks/guest-reviews/images/guest-2.png",
        name: "Патрисия Стёклышкова",
        like: {checked: false, value: 2},
        description: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
        date: "Неделю назад"
      })
