.guest-reviews
  max-width 712rem

  &__title
    font-size 19rem
    font-weight bold
    letter-spacing -0.25rem
    display flex
    justify-content space-between
    align-items flex-end

  &__reviews-count
    font-size 14rem
    font-weight normal
    margin 0 4rem 2rem 10rem
    white-space nowrap

  &__review
    margin 21rem 0 0 0
