extends ../base.pug

block title
	| Toxin
block main

	include ../../blocks/page-header/page-header
	include ../../blocks/page-footer/page-footer
	include ../../blocks/filter-main/filter-main

	+b.page-inner
		+page-header
		+filter-main
		+page-footer
