extends ../layouts/base-layout/base-layout
include ../../blocks/filter-list/filter-list
include ../../blocks/filter-search-results/filter-search-results

block title
  | Filter
block main
  +b("main").filter
    +e.options
      +e("input").toggle(type = "checkbox" id = "filter-toggle")
      +e("label")(for = "filter-toggle").toggle-label Фильтр
      +e.list
        +filter-list
    +e.results
      +filter-search-results
