extends ../layouts/base-layout/base-layout
include ../../blocks/search-card/search-card

block title
	| Toxin
block main
	+b("main").landing
		+e.content
			+e.search-card
				+search-card
			+e("p").description Лучшие номера для вашей работы, отдыха и просто вдохновения
