extends ../base.pug

block title
	| Toxin
block main

	include ../../blocks/page-header/page-header
	include ../../blocks/landing-main/landing-main
	include ../../blocks/search-form/search-form
	include ../../blocks/page-footer/page-footer

	+b.page-inner
		+page-header
		+landing-main
			+search-form
		+page-footer
