extends ../base.pug

block title
	| Toxin
block main

	include ../../blocks/page-header/page-header
	include ../../blocks/logo/logo
	include ../../blocks/nav/nav
	include ../../blocks/button/button

	+b.page-inner
		+page-header
			+logo
			+nav
				+button({value: 'Войти', width: 87, height: 34, units: 'rem'})._empty._marginLeft
				+button({value: 'Зарегистрироваться', width: 196, height: 34, units: 'rem'})._marginLeft
