.checkbox-list-control
  display block
  position relative
  font-size 12rem
  user-select none
  margin-top 30rem
  transition anim-duration

  &__arrow-toggle
    position absolute
    top 0
    right 0
    display none

    &:checked + .checkbox-list-control__title::after
      animation anim-arrow-open anim-duration forwards

  &__title
    display inline-block
    margin 0
    margin-bottom 8rem
    text-transform uppercase
    font-size 12rem
    font-weight bold

    &::after
      display block
      content ""
      position absolute
      top 5rem
      right 15rem
      background main-color-75
      clip-path arrow-up
      transition anim-duration
      size(12rem, 7.4rem)
      box-sizing border-box
      animation anim-arrow-close anim-duration forwards
      cursor pointer

    &::before
      display: block
      content: ''
      position absolute
      top 0
      right 11rem
      size(20rem)
      cursor pointer

  .checkbox-list-control-content
    display block
    transition anim-duration
    overflow hidden
    max-height 300rem

    input
      display none

    input:checked + .checkbox-pos::after
      animation anim-check-open anim-duration forwards

    input:checked + .checkbox-pos::before
      border-color button-color

    .checkbox-pos
      display flex
      font-size 14rem
      transition anim-duration
      margin-top 10rem
      position relative
      z-index 1

      [class*="__title"]
        font-size 14rem
        font-weight bold
        margin 0
        margin-bottom 5rem
        display inline-block

      [class*="__description"]
        font-size 14rem
        padding-top 2rem
        display inline-block

      [class*="__title"] + [class*="__description"]
        font-size 12rem

      &:hover
        color main-color-100

      &::after
        display block
        content ""
        position absolute
        top 5rem
        left 5rem
        background main-gradient
        clip-path check1
        transition transform anim-duration
        size(10rem)
        box-sizing border-box
        animation anim-check-close anim-duration forwards

      &::before
        display block
        content ""
        size(20rem)
        min-size(20rem)
        border 1rem solid main-color-25
        border-radius 4rem
        margin-right 10rem
        box-sizing border-box
        cursor pointer

      &:hover::before
        border-color button-color

  &__arrow-toggle:not(:checked) ~ .checkbox-list-control-content
    max-height 0

@keyframes anim-arrow-open
  from {
    clip-path: arrow-up;
  }
  50% {
    clip-path: arrow-m;
  }
  to {
    clip-path: arrow-down;
  }

@keyframes anim-arrow-close
  from {
    clip-path: arrow-down;
  }
  50% {
    clip-path: arrow-m;
  }
  to {
    clip-path: arrow-up;
  }

@keyframes anim-check-open
  from {
    clip-path: check0;
  }
  50% {
    clip-path: check1;
  }
  to {
    clip-path: check;
  }

@keyframes anim-check-close
  from {
    clip-path: check;
  }
  50% {
    clip-path: check1;
  }
  to {
    clip-path: check0;
  }
