mixin footer-menu

	-var navBlock = {title:'Навигация', list:[{name:'О нас', href:'#'}, {name:'Новости', href:'#'}, {name:'Служба поддержки', href:'#'}, {name:'Услуги', href:'#'}]};

	-var aboutBlock = {title:'О нас', list:[{name:'О сервисе', href:'#'}, {name:'Наша команда', href:'#'}, {name:'Вакансии', href:'#'}, {name:'Инвесторы', href:'#'}]};

	-var supportBlock = {title:'Служба поддержки', list:[{name:'Соглашения ', href:'#'}, {name:'Сообщества', href:'#'}, {name:'Связь с нами', href:'#'}]};

	-var menuBlocks = [navBlock, aboutBlock, supportBlock];

	+b.footer-menu
		each block in menuBlocks
			+b.menu-block
				+e('h3').title=block.title
				+b.block-content
					each item in block.list
						+e('a')(href=item.href).item=item.name
