.footer-menu
  display flex
  flex-direction row
  justify-content space-between
  align-items baseline

  .menu-block
    display block
    min-width 200rem

    &__title
      font-weight bold
      font-size 12rem
      text-transform uppercase
      margin 0
      margin-top 5rem

    .block-content
      display flex
      flex-direction column
      justify-content top
      font-size 14rem

      &__item
        margin-top 21rem

        &:link
          color main-color-50
          text-decoration none

        &:hover
          color main-color-50
          text-decoration underline

        &:visited
          color main-color-50
