.filter-toggle
  display none

  &:checked + .filter-toggle-label
    background-color button-sec-color

    &::after
      animation anim-arrow-open anim-duration forwards

  &:checked ~ .filter-list
    max-height 100vh
    padding-bottom 120rem

.filter-toggle-label
  display none
  position relative
  user-select none
  cursor pointer

  &::after
    display block
    content ""
    background background-color
    clip-path arrow-up
    transition anim-duration
    size(16.8rem, 10.4rem)
    box-sizing border-box
    animation anim-arrow-close anim-duration forwards
    margin-left 15rem

@media only screen and (max-width 700px)
  .filter-toggle-label
    width 100%
    max-width 270rem
    height 35rem
    background-color button-sec-color
    font-weight bold
    color background-color
    display flex
    align-items center
    justify-content center
    font-size 18rem
    border-radius 5rem
    align-self center
    justify-self center
