@import '../../styles/*.styl'

.headers-footers
  max-width 1440px
  min-width 1440px
  width 1440px
  margin 72rem auto 0 auto
  background-color $kit-background-color

  &__header
    margin-bottom 40rem

  &__footer
    margin-bottom 40rem
