.reserve-room-form
  size(380rem, 511rem)
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items flex-start
  align-content flex-start
  grid-row span 2
  background-color background-color
  border 1rem solid rgba(0, 0, 0, 0.12)
  border-radius 4rem
  box-shadow 0 0 25rem rgba(0, 0, 0, 0.2)
  padding 40rem 30rem 30rem 29rem

  form
    display none

  &__room-number
    display inline
    font-size 23rem
    font-weight bold
    justify-content space-between

    b
      font normal bold 14rem Quicksand

    em
      font normal 14rem Quicksand
      text-decoration underline
      vertical-align middle

  &__isLux
    display inline
    color button-color
    font-size 12rem
    font-weight bold
    text-transform uppercase
    margin-left 2rem

  &__price
    display inline
    text-align right
    font-size 12rem
    line-height 20rem
    align-self flex-end

    b
      font-size 14rem

  .button-submit
    margin-top 22rem

@media only screen and (max-width 1300px)
  .reserve-room-form
    grid-row 4
    grid-column span 2
    margin-top 20rem
