.registration-main
  display flex
  justify-content center
  align-items center
  size(1440rem, 702rem)
  background-image url("../../resources/register-bg.png")
  background-size cover
  background-position bottom
