mixin pagination
  +b.pagination
    +e.nums-wrapper
      +e.arrow._orientation_back._hidden
      +e("a")(href="mock.html").page-number._current 1
      +e("a")(href="mock.html").page-number 2
      +e("a")(href="mock.html").page-number 3
      +e.dots ...
      +e("a")(href="mock.html").page-number 15
      +e.arrow

    +e.description 1 - 12 из 100+ вариантов аренды
