@import '../../styles/*.styl'

.pagination

  &__description
    font-size 14rem
    margin-top 10.5rem
    width 100%
    text-align center

  &__nums-wrapper
    display flex

  &__page-number
    circle(40rem)
    display flex
    justify-content center
    align-items center
    font-size 12rem

    &:link, &:visited
      text-decoration none
      color $main-text-color

    &_current
      background $main-gradient

      &:link, &:visited
        font-weight bold
        color $background-color

    &:hover
      background-color $stay-day-color

  &__dots
    circle(40rem)
    display flex
    justify-content center
    align-items center

  &__arrow
    circle(40rem)
    display flex
    justify-content center
    align-items center
    background $secondary-gradient
    cursor pointer

    &:after
      display block
      content ''
      size(17rem, 18rem)
      clip-path $arrow-forward
      background-color $secondary-text-color

    &_orientation_back:after
      clip-path $arrow-back

    &_hidden
      display none
