.calendar
  position absolute
  size(322rem, 380rem)
  border 1px solid rgba(31, 32, 65, 0.25)
  box-shadow 0 10px 20px rgba(31, 32, 65, 0.05)
  border-radius 4px
  background-color background-color
  padding 20rem
  z-index 2
  user-select none

  .month-year
    display flex
    align-items center
    justify-content space-between
    font-size 19rem
    color main-color-100
    font-weight bold

    &__arrow-back
      display flex
      align-items center
      justify-content center
      size(24rem)

    &__arrow-forward
      display flex
      align-items center
      justify-content center
      transform rotate(180deg)
      size(24rem)

  .days-of-the-week
    display flex
    justify-content space-between

    &__item
      display flex
      align-items center
      justify-content center
      size(40rem)

      & > em
        font-style normal
        font-weight bold
        font-size 12rem
        color button-color

  .days-of-the-month
    display flex
    justify-content left
    align-items center
    flex-wrap wrap

    &__item
      display flex
      align-items center
      justify-content center
      size(40rem)
      position relative

      &:after
        display block
        position absolute
        content ''
        circle(40rem)
        background-color transparent
        transition 250ms

      & > em
        font-style normal
        color main-color-50
        font-size 12rem
        font-weight bold
        z-index 1

.calendar
  .days-of-the-month
    &__item:hover:after
      background-color stay-day-color

    .arrival-day, .departure-day
      position relative

      &:after
        display block
        position absolute
        content ''
        circle(40rem)
        background main-gradient

      & > em
        color background-color !important
        font-weight bold

      &_fill:before
        position absolute
        content ''
        size(20rem, 40rem)
        background-color stay-day-color

    .current-day
      border-radius 20rem
      background secondary-gradient

      & > em
        color background-color
        font-weight bold

    .previous-month-day, .next-month-day
      & > em
        color main-color-25

    .stay-day_fill
      background-color stay-day-color

    .arrival-day_fill:before
      right 0

    .departure-day_fill:before
      left 0

  .buttons
    display flex
    justify-content space-between
    margin-top 20rem

    &__btn-clear, &__btn-apply
      font-size 12rem
      font-weight bold
      color main-color-50
      text-transform uppercase

      &:hover
        color button-color
