mixin calendar
	+b.calendar.hidden
		+b.month-year
			+e.arrow-back
				img(src="../../resources/arrow_back.svg")
			+e.month Август
			+e.year 2019
			+e.arrow-forward
				img(src="../../resources/arrow_back.svg")
		+b.days-of-the-week
			-var daysOfTheWeek = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
			each dayName in daysOfTheWeek
				+e.item
					em=dayName
		+b.days-of-the-month
			-var mdCount = 43
			-var i = 1
			while i < mdCount
				+e.item
					-i++
					em 00
		+b.buttons
			+e.btn-clear Очистить
			+e.btn-apply Применить
