include ../button/button

mixin nav(params)
  -
    if (params === undefined) params = {};
    const {
      menu = [],
      auth = {
        isLoggedIn: false,
        name: "Cosmin Negoita",
        login: { name: "login", href: "sign-in.html" },
        register: { name: "register", href: "registration.html" },
      }
    } = params;

  +b("nav").nav&attributes(attributes)
    +e("ul").menu
      each item in menu
        - const { name, href, dropdown, mode } = item;
        - const itemMode = (mode === "bold") ? "nav__menu-item_bold" : ""
        +e("li").menu-item(class = itemMode)
          +e("a")(href = href).item-content= name
            if (dropdown)
              +e("div").item-arrow
          if (dropdown)
            +e.dropdown-menu
              each row in dropdown
                - const { name, href } = row;
                +e("a")(href = href).dropdown-menu-row= name
    if (auth.isLoggedIn)
      +e.name= auth.name
    else
      +e.button-login
        +button({ type: "link", href: auth.login.href, value: auth.login.name })
      +e.button-register
        +button({ type: "link", href: auth.register.href, value: auth.register.name })._solid
