.nav
  display flex
  align-items center
  justify-content center
  flex-wrap wrap
  transition anim-duration

  .menu
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    margin 0
    padding 0

    .menu-item
      display flex
      justify-content space-between
      align-items center
      margin-right 20rem
      font-size 14rem
      list-style none
      font-family Montserrat
      position relative
      line-height 3

      &:hover .dropdown-menu
        animation dropdown 500ms forwards
        z-index 1
        display flex

      .item-content
        display flex
        align-items center
        text-decoration none
        color main-color-50

      .dropdown-menu
        display flex
        position absolute
        flex-direction column
        top 40rem
        min-width 110rem
        background-color background-color
        z-index -1
        opacity 0
        border 1rem solid rgba(0, 0, 0, 0.12)
        box-sizing border-box
        box-shadow 0 0 25rem rgba(0, 0, 0, 0.1)
        border-radius 4rem

        &__row
          line-height 2.5
          white-space nowrap
          padding 0 10rem 0 10rem
          transition 250ms
          color main-color-50
          text-decoration none
          background-color background-color

          &:hover
            background-color main-color-05

        &::after
          display block
          content ''
          position absolute
          top -10rem
          left 10rem
          border-bottom 10rem solid background-color
          border-right  10rem solid transparent
          border-left 10rem solid transparent

        &::before
          display block
          content ''
          position absolute
          top -11rem
          left 9rem
          border-bottom 11rem solid rgba(0, 0, 0, 0.12)
          border-right  11rem solid transparent
          border-left 11rem solid transparent

    &__item-arrow
      color main-color-50
      opacity 0.5
      max-size(18rem)

    &__item:last-child
      margin-right 0

  @keyframes dropdown
    from {opacity: 0; z-index: 1}
    to {opacity: 1; z-index: 1}

@media only screen and (max-width 900px)
  .nav
    .btn-link
      display none

@media only screen and (max-width 700px)
  .nav
    position fixed
    left -100%
    top 0
    height 100vh
    z-index 4
    flex-direction column
    justify-content start
    align-items start
    background-color background-color

    .menu
      flex-direction column
      justify-content start
      align-items start
      background-color background-color
      width 100%

      .menu-item
        display flex
        flex-direction column
        align-items flex-start
        width 100%
        box-sizing border-box

        &:hover
          background-color main-color-05

        &:hover .dropdown-menu .dropdown-menu__row
          line-height 2.5

        .item-content
          padding-left 20rem
          padding-right 20rem

        .dropdown-menu
          position static
          border none
          box-sizing border-box
          box-shadow none
          transition anim-duration
          opacity 1
          overflow hidden
          width 100%
          padding 0

          &__row
            line-height 0
            transition anim-duration
            width 100%
            box-sizing border-box
            padding-right 20rem
            padding-left 20rem

          &::after, &::before
            display none

    .btn-link
      display flex
      margin-top 20rem
      margin-right 20rem
