.nav
  display flex
  align-items center
  justify-content center

  .menu
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    margin 0
    padding 0

    &__item
      display flex
      justify-content space-between
      align-items center
      margin-right 20rem
      font-size 14rem
      list-style none
      font-family Montserrat

      a
        text-decoration none
        color main-color-50

    &__item-arrow
      color main-color-50
      opacity 0.5

    &__item:last-child
      margin-right 0
