mixin nav
	+b('nav').nav&attributes(attributes)
		+b('ul').menu
			-navItems = [{name:'О нас', href:'about-us.html'},
			-{name:'Услуги',     href:'#', dropDown:[{name:'Такая услуга', href:'#'}, {name:'Сякая услуга', href:'#'}]},
			-{name:'Вакансии',   href:'vacancies.html'},
			-{name:'Новости',    href:'news.html'},
			-{name:'Соглашения', href:'#', dropDown:[{name:'Такое соглашение', href:'#'}, {name:'Сякое соглашение', href:'#'}]}]
			each item in navItems
				+e('li').item
					+e('a')(href=item.href)=item.name
					if (item.dropDown)
						+e('img').item-arrow(src="../../resources/arrow_down-24px.svg")
						+b.dropdown-menu
							each row in item.dropDown
								+e('a')(href=row.href).row=row.name
		block
