.filter-list-stay-period-control
  display flex
  flex-wrap wrap
  position relative
  justify-content space-between
  width 100%

  .date-control_arrival, .date-control_departure
    position absolute
    opacity 0

  .date-control_arrival
    transform translateX(-100%)

  .date-control_departure
    transform translateX(100%)
    right 0

  .date-control_arrival-departure
    width 100%

  .calendar
    top 100rem
    left 0

  .visible-anim
    animation do-visible anim-duration forwards
    display block

  .transparent-anim
    animation do-transparent anim-duration forwards
    display block

  .c-open-anim
    animation shorten anim-duration forwards
    white-space nowrap

    & ~ .date-control_arrival
      animation move-right anim-duration forwards

    & ~ .date-control_departure
      animation move-left anim-duration forwards

  .c-close-anim
    animation lengthen anim-duration forwards
    white-space nowrap

    & ~ .date-control_arrival
      animation move-right-back anim-duration forwards

    & ~ .date-control_departure
      animation move-left-back anim-duration forwards


@keyframes shorten
  from {
    width: 100%;
    opacity: 1
  }
  99.9% {
    width: calc(50% - 10rem);
    opacity: 1
  }
  to {
    width: calc(50% - 10rem);
    opacity: 0
  }

@keyframes move-left
  from {
    transform: translateX(100%);
    opacity: 0
  }
  to {
    transform: translateX(0);
    opacity: 1
  }

@keyframes move-right
  from {
    transform: translateX(-100%);
    opacity: 0
  }
  99.9% {
    transform: translateX(0);
    opacity: 0
  }
  to {
    transform: translateX(0);
    opacity: 1
  }

@keyframes do-visible
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }

@keyframes lengthen
  from {
    width: calc(50% - 10rem);
    opacity: 0
  }
  0.1% {
    width: calc(50% - 10rem);
    opacity: 1
  }
  to {
    width: 100%;
    opacity: 1
  }

@keyframes move-left-back
  from {
    transform: translateX(0);
    opacity: 1
  }
  to {
    transform: translateX(100%);
    opacity: 0
  }

@keyframes move-right-back
  from {
    transform: translateX(0);
    opacity: 1
  }
  0.1% {
    transform: translateX(0);
    opacity: 0
  }
  to {
    transform: translateX(-100%);
    opacity: 0
  }

@keyframes do-transparent
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
