extends ../layouts/base-layout/base-layout
include ../../blocks/registration-card/registration-card

block title
  | Registration
block main
  +b("main").registration
    +e.card
      +registration-card
