extends ../base.pug

block title
	| Toxin
block main

	include ../../blocks/page-header/page-header
	include ../../blocks/page-footer/page-footer
	include ../../blocks/registration-main/registration-main

	+b.page-inner
		+page-header
		+registration-main
		+page-footer
