.filter-list
  display block

  #filter-facilities-control
    margin-top 28rem

@media only screen and (max-width 700px)
  .filter-list
    max-height 0
    overflow hidden
    transition anim-duration
