mixin filter-list
  include ../text-field/text-field
  include ../dropdown-control/dropdown-control
  include ../checkbox-list-control/checkbox-list-control
  include ../range-slider/range-slider
  include ../room-card/room-card
  include ../stay-selector/stay-selector

  +b.filter-list

    +e.dates
      +stay-selector({
        inputsNumber: 1,
        arrivalDate: [2019, 8, 19],
        departureDate: [2019, 8, 23]
      })

    +e.guests
      +dropdown-control({
        title: "Гости",
        name: "guests",
        placeholder: "Сколько гостей",
        wordForms: "[\"гость\", \"гостя\", \"гостей\"]",
        positions: [
          {title: "Взрослые", name: "adults"},
          {title: "Дети", name: "children"},
          {title: "Младенцы", name: "babies", isShow: true, wordForms: "[\"младенец\", \"младенца\", \"младенцев\"]"}
        ]
      })

    +e.price-range-slider
      +range-slider({
        title: "Диапазон цены",
        description: "",
        min: 0,
        max: 15700,
        step: 1,
        startValue: 5000,
        endValue: 10000,
        currency: "₽",
      })
      +e("p").price-range-description Стоимость за сутки пребывания в номере

    +e.checkbox-buttons
      +checkbox-list-control({
        title: "checkbox buttons",
        isStatic: true,
        positions: [
          {description: "Можно курить", name: "smoke"},
          {description: "Можно с питомцами", name: "pets", checked: true},
          {description: "Можно пригласить гостей (до 10 человек)", name: "guests", checked: true},
        ]
      })._no-arrow

    +e.accessibility
      +checkbox-list-control({
        title: "Доступность",
        checked: "checked",
        positions: [
          {
            title: "Широкий коридор",
            description: "Ширина коридоров в номере не менее 91 см.",
            value: "",
            name: "wide-corridor",
            checked: false
          }, {
            title: "Помощник для инвалидов",
            description: "На 1 этаже вас встретит специалист и проводит до номера.",
            value: "",
            name: "helper-for-invalid",
            checked: false
          }
        ],
        isStatic: true,
      })

    +e.facilities
      +dropdown-control({
        title: "Удобства номера",
        name: "facilities",
        placeholder: "Удобства",
        positions: [
          {
            title: "Спальни",
            name: "bedrooms",
            count: 2,
            isShow: true,
            wordForms: "[\"спальня\", \"спальни\", \"спален\"]"
          },
          {title: "Кровати", name: "beds", count: 2, isShow: true, wordForms: "[\"кровать\", \"кровати\", \"кроватей\"]"},
          {
            title: "Ванные комнаты",
            name: "bathrooms",
            wordForms: "[\"ванная комната\", \"ванные комнаты\", \"ванных комнат\"]"
          }
        ],
        areButtonsVisible: false,
      })

    +e.additional-facilities
      +checkbox-list-control({
        title: "Дополнительные удобства",
        checked: false,
        positions: [
          {description: "Завтрак", name: "breakfast", checked: ""},
          {description: "Письменный стол", name: "desk", checked: "checked"},
          {description: "Стул для кормления", name: "chair", checked: "checked"},
          {description: "Кроватка", name: "crib", checked: "checked"},
          {description: "Телевизор", name: "TV-1", checked: ""},
          {description: "Шампунь", name: "shampoo-1", checked: ""},
          {description: "Телевизор", name: "TV-2", checked: ""},
          {description: "Шампунь", name: "shampoo-2", checked: ""},
        ]
      })
