.filter-list
  display block
  max-width 400rem

  &__dates
    margin-top 20rem

  &__guests
    margin-top 20rem

  &__price-range-slider
    margin-top 30rem

  &__price-range-description
    font-size 12rem
    margin 15rem 0 0 0

  &__checkbox-buttons
    margin-top 28rem
    max-width 230rem

  &__accessibility
    margin-top 33rem
    max-width 260rem

  &__facilities
    margin-top 30rem

  &__additional-facilities
    margin-top 30rem
