mixin radio(radio)
  - const { text = "", name = "", checked = false } = radio;
  +b.radio
    +e("label").label
      +e("input")(type = "radio" name = name checked = checked).input
      +e("div").circle
      +e("span").label= text
