mixin price-range-control
	+b.price-range-control#price-range-control
		+e('h3').title Диапазон цены
		+e.values 0₽ - 10000₽
		+b.slider
			+b.line-wrapper
				+b.line
				+b.fill-line
		+e.description Стоимость за сутки пребывания в номере
